<form method="POST" action="/profiles/add" style="margin:35px; color:rgb(250,250,255);">
	<div class="input-group">
		<span class="input-group-label">
			<i class="fa fa-header"></i>
		</span>
		<input type="text" name="title" class="input-group-field" placeholder="Title" required>
	</div>

	<div class="input-group">
		<span class="input-group-label">
			<i class="fa fa-user"></i>
		</span>
		<input type="text" name="username" class="input-group-field" placeholder="username">
	</div>

	<div class="input-group">
		<span class="input-group-label">
			<i class="fa fa-unlock"></i>
		</span>
		<input type="text" name="password" class="input-group-field" placeholder="Password">
	</div>

	<div class="input-group">
		<span class="input-group-label">
			<i class="fa fa-envelope"></i>
		</span>
		<input type="email" name="email" class="input-group-field" placeholder="Email">
	</div>

	<div class="input-group">
		<span class="input-group-label">
			<i class="fa fa-globe"></i>
		</span>
		<input type="text" name="url" class="input-group-field" placeholder="URL">
	</div>

	<div class="input-group">
		<span class="input-group-label">
			<i class="fa fa-tag"></i>
		</span>
		<textarea name="description" class="input-group-field" placeholder="Description" required></textarea>
	</div>

	<div class="input-group">
		<span class="input-group-label">
			<i class="fa fa-sitemap"></i>
		</span>
		<input type="text" name="organization" class="input-group-field" placeholder="Organization">
	</div>

	<div class="input-group-button">
		<input type="submit" class="button" value="Submit" style="background-color:rgb(250,250,255); color: rgb(4,1,1);">
	</div>

</form>
