<form method="POST" action="/profiles/search" style="margin:35px; color:rgb(250,250,255);">
<div class="input-group">
	<span class="input-group-label">
		<i class="fa fa-search"></i>
	</span>
	<input type="text" name="search" class="input-group-field" placeholder="Search" required>
</div>

<div class="input-group">
	<input type="radio" name="type" class="input-group-field show" value="title" checked> Search by title  &nbsp;&nbsp;
	<input type="radio" name="type" class="input-group-field show" value="date"> Search by date
</div>

<div class="input-group-button">
	<input type="submit" class="button" value="Submit" style="background-color:rgb(250,250,255); color: rgb(4,1,1);">
</div>

</form>
