<div class="row">
  <h4 class="header">{{header}}</h4>  
  <div class="left-floater">
    <h4 class="sub-header">Vestibulum viverra rutrum</h4>
    <p>
      Arcu amet pede sed porta velit quisque vitae leo nascetur egestas condimentum.
      Sed volutpat dapibus nec ultrices lorem sem amet neque. Mauris lobortis lacus.
      Nonummy tristique urna. Ipsum est donec.
    </p>

    <p>
      Viverra dictum nulla faucibus lacus laoreet non accumsan.
      Gravida quisque amet fringilla. Faucibus cursus in vestibulum.
      Odio vitae turpis aenean. Dignissim leo lorem dapibus ac.
    </p>
  </div>

  <div class="right-floater">
    <h4 class="sub-header">Maecenas congue velit</h4>
    <p>
      Nullam aliquet dolor ante erat orci suspendisse nec rutrum varius inventore turpis.
      Facilisi venenatis sapien. Nulla congue ornare. Hac mauris sapien. Phasellus morbi a.
      Sed lorem aenean odio numquam erat faucibus eros tempor urna justo vitae.
      A vitae id lectus vitae libero. A tortor elit dolor a lacinia.
      Lacus mollis mattis quis vel numquam inceptos morbi massa.
    </p>

    <p>
      Id tincidunt et mauris. Mi diam in nascetur.
      Pulvinar est risus justo. Suspendisse nisl cubilia scelerisque.
       Dignissim facilisis ante nec. Morbi praesent mauris non. Nibh sed parturient ad. Nibh sem pellentesque eu.
       Ac eros accumsan elementum ut condimentum enim orci quam laoreet veniam feugiat tempus blandit dolor et arcu nunc.
     </br>
      Con nulla vel molestie nibh vitae ullamcorper dolor. Pharetra in turpis maecenas. Dis ipsum est fames.
       Nec in lorem tincidunt. Taciti dolor vestibulum amet omnis.

      Diam euismod lorem et. Quis nulla vestibulum vel.
      Sapiente et diam diam. Libero fringilla elit dui. Enim nisl ante est proin wisi ac vel wisi.
    </p>
</div>
