{{#if errors}}
	{{#each errors}}
		<div class="alert callout" data-closable style="margin:10px;">
			<p>{{.}}</p>
			<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			 <span aria-hidden="true">&times;</span>
			</button>
		</div>
	{{/each}}
{{/if}}

{{#if success}}
	{{#each success}}
		<div class="success callout" data-closable style="margin:10px;">
			<p>{{.}}</p>
			<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			 <span aria-hidden="true">&times;</span>
			</button>
		</div>
	{{/each}}
{{/if}}

<div class="form row" style="margin:25px; padding:10px;">
	<h3 class="header">Signin</h3>
	<form method="POST" action="/users/signin">
		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-user"></i>
			</span>
			<input type="text" class="input-group-field" name="username" placeholder="Email or username" required>
		</div>

		<div class="input-group">
			<span class="input-group-label">
				<i class="fa fa-unlock"></i>
			</span>
			<input type="password" class="input-group-field" name="pwd" placeholder="Password" required>
		</div>

		<input type="hidden" class="input-group-field" name="_csrf" value={{csrfToken}} readOnly>

		<div class="input-group-button">
			<input type="submit" class="button" value="Submit">
		</div>
	</form>
</div>
